#Header {
    position: absolute;
    top: 2%;
    left: 3%;

}

#poza {

    height: 9em;
    width: 12em;
    border-radius: 6px;
}

a.bt1 {
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 162, 232, 1);
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    text-align: center;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;

}

a.bt1:hover {
    background-color: #85c6f9;

}

#select {
    text-align: center;
    width: 7em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 162, 232, 1);
    padding: 0.2em 0.4em;
    border-right: 1px solid white;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    border-radius: 6px;

}

#select:hover {
    background-color: #85c6f9;

}


#categorii {
    float: left;
    top: 27%;
    width: 550px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

.icons {
    float: left;
    padding: 5px;
    position: relative;
}

.icons:hover {
    cursor: pointer;
}

#Slideshow {
    float: right;
    width : 500px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    border: 3px;
}

#f1 {
    position: relative;
    float:left;
    top: 45%;
    left: 27%;
    width: 470px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    background-color: #ebebeb;
    opacity: 0.9;
    padding-top: 10px;
    padding-left: 10px;

}

.f1_label {
    text-align: center;
    width: 200px;

}
