#Header
{
	position:absolute;
	top:2%;
	left:3%;
	
}
#poza
{
	
	height:9em;
	width:12em;
	border-radius: 6px;
}



#NavBar
{
	
	position: absolute;
	top:7%;
	left:43%;
	margin-left:-170px;
	padding-top: 20px;
    	padding-right: 5px;
   	padding-bottom: 20px;
    	padding-left: 5px;
	background-color:#e2e7e7;
	
					


}
 a.bt1 
{
	float: left;
	width: 6em;
	text-decoration: none;
	color: white;
	background-color:rgba(0,162,232,1);
	padding: 0.2em 0.6em;
	border-right: 1px solid white;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
        text-align:center;
        border-radius: 6px;
					
}

a.bt1:hover 
{
	background-color:#85c6f9;
				
}


#select
{
    text-align:center;
    width: 7em;
    text-decoration: none;
    color: white;
    background-color:rgba(0,162,232,1);
    padding: 0.2em 0.4em;
    border-right: 1px solid white;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    border-radius: 6px;
					
}
#select:hover 
{
	background-color:#85c6f9;
				
}

#search
{
	width: 15em;
	border-radius: 4px;
}
#Categorii
{
	position:absolute;
	top:27%;
	left:50%;
}

#Footer 
{
	   background-color: rgba(0,0,0,1);
	   color:white;
	   clear:both;
	   text-align:center;
	   padding:1px;	
	   top:599px;
	   position: relative;
	   border-radius: 5px;
	   font-family: 'Indie Flower', cursive;
	   font-size: 20px;
}
