#f1{
	padding-top:20%;
	padding-left:15%;

}
#loginF {
	background-color: rgba(255,250,250,0.7);
padding:25px;
padding-left:10px;
    position: absolute;
    top: 25%;
    left: 38%;
    right: 30%;
    bottom: 20%;
    font-size: 18px;
}


 #select 
{
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: rgba(0,98,36,0.8);
    padding: 0.2em 0.4em;
    border-right: 1px solid white;
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
					
}

#select:hover 
{
   background-color:#7ac142 ;
				
}

#select{

    position: absolute;
   
    	
    left: 40%;
    bottom:60%;
    
  
    font-size: 18px;
}

 #loginB 
{
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: rgba(0,98,36,0.8);
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
					
}

#loginB:hover 
{
   background-color:#7ac142 ;
				
}
#loginB{
      
    position: absolute;
    top: 68%;
    left: 37%;
    right: 40%;
    font-size: 20px;
   

}

#fraza{
	   position: absolute;
	   top: 80%;
	   left: 7%;
	   font-size: 15px;
	   color: black;
	  font-weight: bold;
}
#register
{
	float: left;
	width: 6em;
	text-decoration: none;
	color: white;
	background-color: rgba(0,98,36,0.8);
	padding: 0.2em 0.6em;
	border-right: 1px solid white;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
					
}

#register:hover
{
	background-color:#7ac142 ;
				
}
#register{
	
 position: absolute;
     top: 88%;
    left: 68%;
    
   
    font-size: 18px;
    color:white;
	
}
#role{
	
    
    position: absolute;
    left: 28%;
    bottom:57%;
}
