#f1{
	padding-top:20%;
	padding-left:15%;

}
#registerF {
	background-color: rgba(255,250,250,0.7);
padding:25px;
padding-left:10px;
    position: absolute;
    top: 25%;
    left: 38%;
    right: 30%;
    bottom: 20%;
    font-size: 18px;
}

 #select 
{
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 162, 232, 1);
    padding: 0.2em 0.4em;
    border-right: 1px solid white;
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
					
}

#select:hover 
{
   background-color:#85c6f9 ;
				
}

#select{

    position: absolute;
   
    	
    left: 44%;
    bottom:50%;
    
  
    font-size: 18px;
}

 #submitB 
{
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 162, 232, 1);
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
					
}

#submitB:hover 
{
   background-color:#85c6f9 ;
				
}
#submitB{
      
    position: absolute;
    top: 78%;
    left: 37%;
    right: 40%;
    font-size: 20px;
   

}
#tabel{

  position: relative;
  
   right:5%;
    
    
}

#titlu
{
    position:absolute;
    float:left;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    background-color:rgba(0, 162, 232, 1);
    color:white;
    padding:2px;
    border-radius: 5px;
}
